
/**
 * Character roster
 */

// Variables

$roster-text-color: #fff;
$roster-hover-bg: $color-overwatch-blue;

$roster-card-transform: skew(-10deg);
$roster-card-width: 6.5rem;

// Roster SVG
#roster-card {
  transform: $roster-card-transform;

  rect {
    left: 0;
    top: 0;
    width: 8.75rem;
    height: 8.75rem;
  }
}

.roster {
  .roster-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .roster-link {
    // clip-path: url(#roster-card);
    border: solid (1rem / 16) rgba(255, 255, 255, 0.87);
    border-radius: 0.2rem;
    color: $roster-text-color;
    width: $roster-card-width;

    .roster-icon {
      width: 100%;
      height: 8.75rem;
    }

    .progress {
      margin-bottom: 0;
    }

    &:hover {
      text-decoration: none;
      background-color: $roster-hover-bg;
    }
  }
}
