$nav-card-container-spacing-x: 7.5rem;
$nav-card-space: 0.5rem;

.cards {
  &--characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: $nav-card-space $nav-card-container-spacing-x;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  }

  &__card {
    margin: 0 ($nav-card-space / 2) $nav-card-space;
    width: 7.5rem;
    height: 8rem;
  }
}
