$active-border-darken: 20%;

$button-font-family: 'Futura', sans-serif;

// Bootstrap-specific

// Progress

.progress {
  & {
    position: relative;
    background-color: darken($color-overwatch-dark-navy, 7.5%);
    border: solid (1rem / 16) darken($color-overwatch-dark-navy, 15%);
    margin-bottom: 0.5rem;
  }

  &, &-bar {
    height: 3rem;
  }

  &-bar {
    background-color: $color-overwatch-orange;
  }

  &-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: $font-size-base * 3;
    @include text-contrast-shadow;
  }
}

// Btn

.btn {
  font-family: $button-font-family;
  text-transform: uppercase;
  @include text-contrast-shadow;
}

// Tracker specific

// Generate classes for different sizes of progress bars

@each $label, $map in $completion-progress-sizes {
  @include completion-progress-bar($label, $map)
}

.completion {
  &.sticky-top {
    // top: 0.5rem;
  }
}

//

.entry__block {
  header {}

  .entry__list {
    > li {
      font-family: 'Futura', sans-serif;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

section.item-groups {}

article.item-group > header {
  padding: $list-group-item-padding-y $list-group-item-padding-x;
}

.item-group {
  &__header {
    line-height: $font-size-base;
  }

  &__name {
    margin-bottom: 0;
  }

  &__status {
    font-size: $font-size-base * 1.5;
  }
}

.color-cost {
  color: #00db55;
}

.item-quality {
  &-none {
    color: $color-quality-fg-none;

    &.active {
      background: $color-quality-fg-none;
      border-color: darken($color-quality-fg-none, $active-border-darken);
    }
  }

  &-common {
    color: $color-quality-fg-common;

    &.active {
      background: $color-quality-fg-common;
      border-color: darken($color-quality-fg-common, $active-border-darken)
    }
  }

  &-rare {
    color: $color-quality-fg-rare;

    &.active {
      background: $color-quality-fg-rare;
      border-color: darken($color-quality-fg-rare, $active-border-darken);
    }
  }

  &-epic {
    color: $color-quality-fg-epic;

    &.active {
      background: $color-quality-fg-epic;
      border-color: darken($color-quality-fg-epic, $active-border-darken)
    }
  }

  &-legendary {
    color: $color-quality-fg-legendary;

    &.active {
      background: $color-quality-fg-legendary;
      border-color: darken($color-quality-fg-legendary, $active-border-darken);
    }
  }

  &-bg {
    &.active {
      color: rgba(255, 255, 255, 0.87);
    }
  }
}
