@mixin text-contrast-shadow(
  $offset-x: $text-contrast-shadow-offset-x,
  $offset-y: $text-contrast-shadow-offset-y,
  $blur: $text-contrast-shadow-blur,
  $color: $text-contrast-shadow-color) {
  text-shadow:
    $text-contrast-shadow-offset-x
    $text-contrast-shadow-offset-y
    $text-contrast-shadow-blur
    $text-contrast-shadow-color;
}

/**
 * Mixin for generating a progress bar based on a supplied map of parameters
 */
@mixin completion-progress-bar($size, $map) {
  .completion-progress-#{$size} {
    $font-size: map-get($map, font-size-factor);
    $height: map-get($map, bar-height);

    .progress {
      &, &-bar {
        height: $height;
      }
      &-text {
        font-size: $font-size-base * $font-size;
      }
    }
  }
}

@mixin hero-icon($id) {
  background-image: url('../heroes/#{$id}/icon.png');
}
