body, html {
  background-color: $color-overwatch-dark-navy;
}

section.page {}

section.page--character {
  $cost-text-shadow-color: rgba(0, 0, 0, 0.5);
  $cost-text-shadow-blur: 0;
  $cost-text-shadow-offset: (1rem / 16);
  $cost-text-shadow-offset-x: $cost-text-shadow-offset;
  $cost-text-shadow-offset-y: $cost-text-shadow-offset;

  .completion--character {
    background: $color-overwatch-dark-navy;

    &.sticky-top {
      padding-top: 0.5rem;
    }

    .total-cost {
      font-family: 'Futura', sans-serif;
      font-size: 2.5rem;
      vertical-align: middle;
    }
  }

  .progress {
    position: relative;

    &, &-bar {
      height: 3rem;
    }

    &-text {
      font-family: 'Futura', sans-serif;
      text-transform: uppercase;
      font-size: 1.5rem;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      @include text-contrast-shadow;
    }
  }

  section.item-groups {
    // border: solid 2px #f00;

    > article {
      // border: solid 1px #f00 !important;
    }

    .item-group {
      font-family: 'Futura', sans-serif;
      text-transform: uppercase;
    }

    .item-group__header {
      h3 { margin-bottom: 0; }
    }

    .item-group__status {
      margin-left: 0.5rem;
    }

    .item-group__header {}
    .item-group__list {
      text-transform: uppercase;
      cursor: pointer;
    }

    .item-group__list-item {
      text-shadow:
        $cost-text-shadow-offset-x
        $cost-text-shadow-offset-y
        $cost-text-shadow-blur
        $cost-text-shadow-color;

      &__cost {
        color: $color-cost-fg;
        margin-left: 0.5rem;
      }
    }
  }
}

section.page--home {
  /**
   * Home page total progress bar
   */
  header {
    &.progress--total.jumbotron {
      background-color: darken($color-overwatch-dark-navy, 7.5%);
    }

    .progress {
      &, &-bar {
        height: 5rem;
      }
    }
  }

  .progress--total-costs {
    .progress--symbol {
      font-size: $font-size-base * 3;
    }

    dt {
      font-family: 'Futura', sans-serif;
      text-transform: uppercase;
      font-weight: 400;
    }

    dd {
      font-size: $font-size-base * 3;

      .currency {
        display: inline-block;
        margin-left: 0.5rem;
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

dd,
dt,
div,
p,
span {
  .icon {
    margin-left: 0.5rem;
  }
}
