// Typography

$font-family-sans-serif: 'Big Noodle Titling';
$font-family-alternative: 'Futura', sans-serif;

// Colors

$color-cost-fg: rgb(0, 219, 85);

// Quality colors

$color-quality-fg-none: rgb(170, 170, 170);
$color-quality-fg-common: rgb(120, 120, 120);
$color-quality-fg-rare: rgb(18, 185, 245);
$color-quality-fg-epic: rgb(237, 60, 239);
$color-quality-fg-legendary: rgb(252, 176, 28);

// Overwatch colors

$color-overwatch-orange: rgb(249, 158, 26);
$color-overwatch-dark-gray: rgb(67, 72, 76);
$color-overwatch-dark-navy: rgb(64, 82, 117);
$color-overwatch-blue: rgb(33, 143, 254);

// Icons

$svg-icon-width: 2rem;
$svg-icon-height: 2rem;

// Shadows

$text-contrast-shadow-color: rgba(0, 0, 0, 0.7);
$text-contrast-shadow-blur: 0;
$text-contrast-shadow-offset: (1rem / 16);
$text-contrast-shadow-offset-x: $text-contrast-shadow-offset;
$text-contrast-shadow-offset-y: $text-contrast-shadow-offset;

// Controls

$completion-progress-sizes: (
  sm: (
    bar-height: 1.25rem,
    font-size-factor: 0.8
  ),
  md: (
    bar-height: 3rem,
    font-size-factor: 1.25
  ),
  lg: (
    bar-height: 4.75rem,
    font-size-factor: 2
  )
);
